<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ETF_Uploader.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="GcpBucketName" value="etf-data-adroit-cortex-482002-k4" />

		<add key="K8sJobName" value="etf-analysis-job" />

		<add key="DownloadFolderName" value="k8s_output" />

	</appSettings>
 <userSettings>
  <ETF_Uploader.Settings1>
   <setting name="GcpBucketName" serializeAs="String">
    <value>etf-data-adroit-cortex-482002-k4</value>
   </setting>
   <setting name="K8sJobName" serializeAs="String">
    <value>etf-analysis-job</value>
   </setting>
   <setting name="DownloadFolderName" serializeAs="String">
    <value>k8s_output</value>
   </setting>
  </ETF_Uploader.Settings1>
 </userSettings>
</configuration>